html, body, #__nuxt { height: 100%; }
body { margin: 0; color: #111; background: #fff;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.4;
}
